#!/bin/bash
set -euo pipefail

# Update apt and install base packages
sudo apt-get update -q
sudo apt-get install -y curl git zsh

# Set zsh as default shell if not already
zsh_path="$(which zsh)"
if [[ "$SHELL" != "$zsh_path" ]]; then
  sudo usermod -s "$zsh_path" "$USER"
fi
